<h1>Welcome to IdeaBox</h1>
<img src="/images/Edison_incandescent_lights.jpg" alt="bulbs">
<%= erb :form, locals: {idea: idea} %>
<h3>Existing Ideas</h3>

<ul>
  <% ideas.each do |idea| %>
    <li>
      <a href="/<%= idea.id %>"><%= idea.title %><br/></a>
      <%= idea.description %>
      <a href="/<%= idea.id %>/edit">Edit</a>
      <form action='/<%= idea.id %>' method='POST'>
        <input type="hidden" name="_method" value="DELETE">
        <input type='submit' value="delete"/>
      </form>
      <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
        <input type='submit' value="+"/>
      </form>
    </li>
  <% end %>
</ul>
